<!--

   Web Atelier 2022  Exercise 5 - Web Apps and APIs with Express

   Student: __STUDENT NAME__

   High Scores View Fragment

-->
<aside>   
   <h2> scoreboard</h2>

   <%let score_arr = data; %>
   <ol> 
      <%
      for(let i = 0; i < score_arr.length; i++) {
         let displayable = score_arr[i];
         if (displayable != undefined) { %>
            <li> <span> <%= displayable.player %> </span> <span> <%= displayable.score %>  </span> <span> <%= displayable.time %>  </span></li>
      <% }
      } %>
   </ol>
</aside>